version: 2.1

orbs:
  gh: circleci/github-cli@1.0.4

parameters:
  project_name:
    type: string
    default: toolbox
  working_directory:
    type: string
    default: ~/toolbox
  python_version:
    type: string
    default: "3.6"
  cache_version:
    type: string
    default: "1"
  git_trunk_branch:
    type: string
    default: "main"
  command_prefix:
    type: string
    default: "poetry run python src/toolbox/main.py"

jobs: # A basic unit of work in a run
  test:
    environment:
      PYTHONPATH: src
    parameters:
      python_version:
        type: string
    docker:
      - image: circleci/python:<< parameters.python_version >>
        environment:
          PIPENV_VENV_IN_PROJECT: "true"
    working_directory: << pipeline.parameters.working_directory >>
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python<< parameters.python_version >>/site-packages
      - restore_cache:
          key: << pipeline.parameters.cache_version >>-<< pipeline.parameters.project_name >>-<< parameters.python_version >>-{{ checksum "poetry.lock" }}
      - run:
          name: Install dev libraries
          command: pip install --upgrade pip poetry && poetry install --no-ansi
      - run:
          name: Format check
          command: << pipeline.parameters.command_prefix >> format --check
      - run:
          name: Type check
          command: << pipeline.parameters.command_prefix >> typecheck
      - run:
          name: Linters
          command: << pipeline.parameters.command_prefix >> lint
      - save_cache:
          key: << pipeline.parameters.cache_version >>-<< pipeline.parameters.project_name >>-<< parameters.python_version >>-{{ checksum "poetry.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python<< parameters.python_version >>/site-packages"
      - run:
          name: Unit tests
          command: << pipeline.parameters.command_prefix >> test-unit
      - run:
          name: Integration tests
          command: << pipeline.parameters.command_prefix >> test-integration
      - run:
          name: Build coverage report
          command: << pipeline.parameters.command_prefix >> coverage-report
      - run:
          name: Upload coverage reports to Codecov
          command: |
            [[ "${CIRCLE_BRANCH}" == "<< pipeline.parameters.git_trunk_branch >>" ]] && BASE_COMMIT_SHA=$(git rev-parse HEAD~1) || BASE_COMMIT_SHA=$(git merge-base ${CIRCLE_BRANCH} origin/<< pipeline.parameters.git_trunk_branch >>)
            bash <(curl -s https://codecov.io/bash) -N ${BASE_COMMIT_SHA} -f reports/coverage-unit.xml -F total,unit_tests &&
            bash <(curl -s https://codecov.io/bash) -N ${BASE_COMMIT_SHA} -f reports/coverage-integration.xml -F total,integration_tests
      - store_artifacts:
          path: reports/coverage-report
      - store_test_results:
          path: reports

  build:
    working_directory: << pipeline.parameters.working_directory >>
    docker: # run the steps with Docker
      - image: circleci/python:<< pipeline.parameters.python_version >>
        environment:
          PIPENV_VENV_IN_PROJECT: "true"
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: << pipeline.parameters.cache_version >>-<< pipeline.parameters.project_name >>-<< pipeline.parameters.python_version >>-{{ checksum "poetry.lock" }}
      - run:
          name: Build library
          command: |
            poetry build
      - persist_to_workspace:
          root: << pipeline.parameters.working_directory >>
          paths:
            - .

  release:
    working_directory: << pipeline.parameters.working_directory >>
    docker:
      - image: circleci/python:<< pipeline.parameters.python_version >>
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python<< pipeline.parameters.python_version >>/site-packages
      - restore_cache:
          key: << pipeline.parameters.cache_version >>-<< pipeline.parameters.project_name >>-<< pipeline.parameters.python_version >>-{{ checksum "poetry.lock" }}
      - gh/setup
      - run:
          name: Check if current version has been released
          command: |
            echo "export VERSION=$(poetry version -s)" >> $BASH_ENV
            if [[ $(git release view $VERSION >/dev/null 2>&1; echo $?) -eq 0 ]]; then
              echo "Tag '$VERSION' already exists. Skipping."
              circleci-agent step halt
            fi
      - attach_workspace:
          at: << pipeline.parameters.working_directory >>
      - run:
          name: Create a release
          command: gh release create $VERSION -F CHANGELOG.md
      - run:
          name: Upload assets
          command: gh release upload $VERSION dist/*

workflows:
  version: 2
  all_pipelines:
    jobs:
      - test:
          name: Python << matrix.python_version >> tests
          context: << pipeline.parameters.project_name >>
          matrix:
            parameters:
              python_version: [ "3.6", "3.7", "3.8", "3.9", "3.10" ]
      - build:
          name: Build
          requires:
            - test
      - release:
          context:
            - github
          requires:
            - Build
          filters:
            branches:
              only: << pipeline.parameters.git_trunk_branch >>